@font-face {
  font-family: 'Bebas';
  src: url('./fonts/BebasNeue.otf');
}

body {
  font-family: 'Futura';
  margin: 0;
  background: #000;
}

* {
  box-sizing: border-box;
}

.systems {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.systems__system:focus {
  transform: rotate(45deg);
}
.systems__system {
  flex: 0 0 100vw;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #fff;
  font-size: 30px;
  display: flex;
  scroll-snap-align: start;
  flex-direction: column;
  padding: 70px 70px;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  text-align: left;
  text-decoration: none;
  transition: 1s;
}

.systems__name {
  font-size: 10vw;
  margin-bottom: 20px;
  font-family: 'Bebas';
}

.systems__excerpt {
  font-size: 14px;
  color: #939393;
  margin-bottom: 12px;
}

.systems__description {
  font-size: 18px;
  color: #9e9e9e;
  max-width: 300px;
  margin-bottom: 24px;
}

.systems__count {
  font-size: 16px;
  color: #953a33;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.systems__bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
}

.systems__controller {
  max-width: 30vw;
}

.games {
  text-align: left;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - 105px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.games__system:focus {
  transform: rotate(45deg);
}
.games__system {
  width: 33vw;
  height: 33vh;
  width: calc(33vw - 32px);
  margin: 16px;
  color: #fff;
  font-size: 30px;
  display: flex;
  scroll-snap-align: start;
  flex-direction: column;
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  text-align: left;
  text-decoration: none;
  transition: 1s;
  outline: 5px solid #000;
  z-index: 1;
}
.games__system img {
  transition: 1s;
  filter: brightness(0.3);
}
.games__system--focused {
  transition: 1s;
  outline: 5px solid #efefef;
  z-index: 2;
  position: relative;
}
.games__system--focused img {
  filter: brightness(0.8);
  transition: 1s;
}

img.games__bg:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}

img.games__bg:after {
  content: '';

  font-size: 18px;
  color: rgb(100, 100, 100);

  display: block;
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
}

.games__name {
  font-size: 3vw;
  font-family: 'Bebas';
  transition: 1s;
  opacity: 0.8;
  text-align: center;
  z-index: 3;
  margin: auto;
  padding: 20px;
}

.games__system--focused .games__name {
  opacity: 1;
  transition: 1s;
  background: rgba(0, 0, 0, 0.6);
}

.games__excerpt {
  font-size: 14px;
  color: #939393;
  margin-bottom: 12px;
}

.games__description {
  font-size: 18px;
  color: #9e9e9e;
  max-width: 300px;
  margin-bottom: 24px;
}

.games__count {
  font-size: 16px;
  color: #953a33;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.games__bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.games__logo {
  max-width: 70%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: unset;
  bottom: 0;
  top: 0;
}

.games__controller {
  max-width: 30vw;
}

.gb .games__system .games__screenshot:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: rgba(93, 255, 77, 0.3);
  z-index: 1;
}

.systems__logo {
  display: none;
}

.controls {
  position: absolute;
  display: flex;
  color: #e4e4e4;
  z-index: 10;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.controls li {
  list-style: none;
}

.controls li + li {
  margin-left: 16px;
}

.controls span {
  background: #e4e4e4;
  color: #444;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

.system-title {
  color: #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  max-width: 96%;
  margin: 0 auto;
  margin-bottom: 16px;
}
