* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
}

/*
*
* Themes selector
*
*/

.themes {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  height: auto;
  position: relative;
  left: 0;
  opacity: 1;
  z-index: 2;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  /* transform: translateY(-20vh); */
}
.themes--focused {
  opacity: 1;
  top: 0;
  transition: 0.5s;
  /* transform: translateY(0); */
}

.themes__preview {
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  background: transparent;
  display: inline-block;
  opacity: 0.5;
}
.themes div + div {
  margin-left: 16px;
}

.themes__preview--focused {
  opacity: 1;
}

.themes--unfocused {
  margin-top: -170px;
}

/*
*
* Systems
*
*/
.systems {
  overflow-x: scroll;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.systems__system {
  flex: 0 0 100vw;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  text-decoration: none;
  transition: 1s;
}

.systems__bg {
  position: absolute;
  z-index: -1;
  height: 100vh;
  top: 0;
  right: 0;
}

/*
*
* Controls Indicator
*
*/

.controls {
  --controls-color: #e4e4e4;
  --controls-background: rgba(0, 0, 0, 0.2);

  position: absolute;
  display: flex;
  color: var(--controls-color);
  z-index: 10;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding: 16px;
  background: var(--controls-background);
}

.controls li {
  list-style: none;
}

.controls li + li {
  margin-left: 16px;
}

.controls span {
  background: #e4e4e4;
  color: #444;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

/*
*
* Loading screen
*
*/
.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(223, 32, 2, 0.6);
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}
.loading__group {
  color: #fff;
}

.loading__title {
  margin-bottom: 8px;
}

/*
*
* Progress Bar
*
*/
.progress {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: #000;
}

.progress::-webkit-progress-value {
  transition: width 1s;
  background-color: #fff;
}

.progress::-moz-progress-bar {
  background-color: #fff;
}

.progress {
  background-color: #000;
}

.progress span {
  background-color: #fff;
  color: #fff;
}

.global-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.gb .games__system:after {
  content: '';
  display: block;
  z-index: 2;
  background: greenyellow;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  mix-blend-mode: multiply;
}

/*
*
* Games Grid
*
*/

.games {
  text-align: left;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - 105px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.games__system {
  height: 22.7vw;
  width: calc(25vw - 32px);
  margin: 16px;
  color: #fff;
  font-size: 30px;
  display: flex;
  scroll-snap-align: start;
  flex-direction: column;
  /* padding: 0; */
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0;
  box-shadow: none;
  text-align: left;
  text-decoration: none;
  transition: 1s;
  outline: 5px solid #000;
  z-index: 1;
  background: #060401;
}
.games__system .games__screenshot {
  transition: 1s;
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
}
.games__system--focused {
  transition: 1s;
  outline: 5px solid #efefef;
  z-index: 2;
  position: relative;
}
.games__system--focused img {
  transition: 1s;
}

.games__bg:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}

.games__bg:after {
  content: '';

  font-size: 18px;
  color: rgb(100, 100, 100);

  display: block;
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
}

.games__name {
  font-size: 3vw;
  font-family: 'Bebas';
  transition: 1s;
  opacity: 0.8;
  text-align: center;
  z-index: 3;
  margin: auto;
  padding: 20px;
}

.games__system--focused .games__name {
  opacity: 1;
  transition: 1s;
  background: rgba(0, 0, 0, 0.6);
}

.games__excerpt {
  font-size: 14px;
  color: #939393;
  margin-bottom: 12px;
}

.games__description {
  font-size: 18px;
  color: #9e9e9e;
  max-width: 300px;
  margin-bottom: 24px;
}

.games__count {
  font-size: 16px;
  color: #953a33;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.games__bg {
  position: absolute;
  z-index: 2;

  /* height: 100%; */
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.games__logo {
  max-height: 52%;
  max-width: 90%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: unset;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 5;
}

.games__controller {
  max-width: 30vw;
}

.gb .games__system .games__screenshot:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: rgba(93, 255, 77, 0.3);
  z-index: 1;
}
